.itens{
    display: inline-block;    
    border: 1px solid ;
    padding: 2px 0 2px 0;
    box-shadow: 2px 3px #00000030;
    background-color: yellow;
    width: 225px;
    margin: 15px 5px 5px 15px;
}

.itens_titulo{
    padding:0;
    margin: 2px 2px 15px 7px;
    font-weight: bold;
}

.itens_lista{
    list-style: none;
    padding:0;
    margin: 2px 2px 15px 25px;
    
}
.icones{
    margin: 10px 20px 0 0;
text-align: right;
}