*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

    background-color: #E8E8E8;
    font-family: Arial, Helvetica, sans-serif;
    
    }

form{
    margin: 0 auto;
    width: 70%;
}

.fieldset__notas{

    width: 100%;
    padding: 10px;
    border-radius: 5px;
 
}

input{    
    
    height: 20px;
    border: none;
    border-radius: 3px;
    margin: 5px 0;
}

.form__button-item{

   width:15px;
   height: 18px;
   text-align: center;
   border: 1px solid black;
   border-radius: 3px;
   margin: 5px;
   
   
}
.form__button-itemremove{
    float:right;
    width:15px;
   height: 18px;
   text-align: center;
   border: 1px solid black;
   border-radius: 3px;
   margin: -5px 40px 10px 5px;
   
}

.form__item, .form__item-num{
    float: left;
    
}

.form__item-add{

    float: left;
    width: 78%;
    margin: -5px 5px 10px 30px;
    
    
}

.fieldset__itens{

    /*width: 70%;
    padding: 10px;*/
    border-radius: 5px;
 
}

.form__notas{

    width: 100%;
   
}




.form__buttons{
    text-align: right;
}

.form__button{

     background-color:  #FCB522;
     border: none;
     margin: 10px;
     width: 130px;
     height: 22px;
     border-radius: 3px;
     -webkit-box-shadow: 2px 2px 8px 0px rgba(158,152,158,1);
     -moz-box-shadow: 2px 2px 8px 0px rgba(158,152,158,1);
     box-shadow: 2px 2px 8px 0px rgba(158,152,158,1);

}